<div>
  <h2 class="Heading2">
    TICKET DISCRIPTION HERE...
  </h2>
  <input type="text" name="category" id="cat" placeholder="CATEGORY"><br>
  <textarea name="Deatils" id="" cols="50" rows="2" placeholder="Subject of Ticket is here..."></textarea>
  <br>
  <textarea name="Deatils" id="" cols="150" rows="20" placeholder="Description of Ticket is here..."></textarea>
  <br>
  <input type="file" class="file-upload" onchange="console.log(event.target.files)">
  <br>
  <button class="raise-button">Raise Ticket</button>
</div>
