.nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.box-button {
  background-color: rgb(18, 155, 63);
  padding: 10px;
  border-radius: 50px;
  border: 0;
  width: 180px;
  text-decoration: none;
  color: white;
}

.box-button a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.nav ul {
  display: inline-flex;
  list-style-type: none;
}

.nav img {
  height: 60px;
  width: 250px;
  margin-left: 10px;
  margin-top: 5px;
}

.nav li {
  font-size: 20px;
  padding-left: 40px;
  padding-top: 15px;
}

.nav li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}
.raise-button {
  padding-top: 20px;
}
