<div>
  <app-navbar></app-navbar>
</div>
<div id="container">
  <div class="profile">
    <h1 class="heading1">PROFILE</h1>
    <img
      class="profile-image"
      src="https://www.pinkvilla.com/imageresize/chris_future_thor.jpg?width=752&t=pvorg"
      alt=""
    />
    <input
      type="text"
      name="company-name"
      id="view"
      placeholder="Company Name"
    />
    <input type="text" name="first-name" id="view" placeholder="First Name" />
    <input type="text" name="last-name" id="view" placeholder="Last Name" />
    <input
      type="text"
      name="email"
      id="view"
      placeholder="Registered Email id"
    />
    <input
      type="number"
      name="contact"
      id="view"
      placeholder="Contact Number"
    />
  </div>
  <!-- <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT   STATUS"></textarea> -->
  <div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="Search by Title"
          [(ngModel)]="title"
        /> -->
        <!-- <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <h4>Ticket List</h4>
      <ul class="list-group-item">
        <li
          class="list-group-item"
          *ngFor="let ticket of allUserTickets; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTicket(ticket, i)"
        >
          {{ ticket.title }}
        </li>
      </ul>

      <!-- <button class="m-3 btn btn-sm stn-danger" (click)="removeAllTicket()">
              RemoveAll
            </button> -->
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTicket">
        <h4>Ticket</h4>
        <div>
          <label><strong>Title:</strong></label>
          {{ currentTicket.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentTicket.description }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentTicket.published ? "Published" : "Pending" }}
        </div>

        <a
          class="badge badge-warning"
          routerLink="/tickets/{{ currentTicket.id }}"
          >Edit</a
        >
      </div>

      <div *ngIf="!currentTicket">
        <br />
        <p>Please click on the Ticket...</p>
      </div>
    </div>
  </div>
</div>
