.list-row {
  background-color: rgb(150, 151, 155);
  width: 20%;
  padding-top: 15px;
}
.list-row h4 {
  text-align: center;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-bottom: 50px;
  color: white;
  text-shadow: 0 1px 3px #161616, 0 0 5px #0a0a0a;
}
.Ticket-Desc {
  background-color: rgb(109, 105, 105);
  width: 55%;
  padding: 15px;
  color: rgb(255, 255, 255);
}
.zero-desc {
  text-align: center;
  margin-top: -20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 27px;
  font-weight: 600;
  text-shadow: 0 1px 3px #161616, 0 0 5px #0a0a0a;
}
.Ticket-Desc h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-shadow: 0 1px 3px #161616, 0 0 5px #0a0a0a;
}

.list-group-item li{
  margin-top: 15px;
}
.list-group-item {
  margin-bottom: 10px;
  height: 40px;
}

#container {
  display: flex;
  justify-content: space-around;
  height: 550px;
}

.side-bar {
  background-color: rgb(125, 124, 136);
  width: 20%;
  text-align: center;
}

#view {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0;
}

.profile-image {
  height: 150px;
  width: 140px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid black;
}
.ticket-data {
  display: grid;
  padding: 10px;
  width: 750px;
  background-color: rgb(90, 91, 100);
}

input {
  padding: 10px;
}

.profile {
  background-color: rgb(168, 168, 160);
  width: 250px;
  text-align: center;
}
.side-bar h1 {
  padding: 10px;
  font-weight: 900;
  text-shadow: 0 1px 3px #161616, 0 0 5px #0a0a0a;
}

.heading1 {
  padding: 10px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px #161616, 0 0 5px #0a0a0a;
}
.heading2 {
  color: rgb(255, 255, 255);
  font-weight: 900;
}
.heading3 {
  text-align: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 3px #161616, 0 0 5px #0a0a0a;
}



.col-md-6 {
  background-color: white;
}
