.submit-form{
  color: rgb(0, 0, 0);
  background-color: grey;
}

.form-group1 input {
  margin-left: 123px;
  height: 30px;
  width: 400px;
  margin-top: 10px;
  border-radius: 15px;
  border: 0;
  padding-left: 10px ;
}

.form-group1 label {
  margin-left: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.form-group1 {
  padding-top: 20px;
}


.form-group2 select {
  margin-left: 140px;
  height: 30px;
  width: 415px;
  margin-top: 10px;
  border-radius: 15px;
  border: 0;
  padding-left: 10px ;
}

.form-group2 label {
  margin-left: 18px;
  font-weight: bold;
  margin-top: 40px;
}

.form-group2 {
  padding-top: 10px;
}

.form-group7 option {
  margin-right: 20px;
}

.form-group3 input {
  margin-left: 150px;
  height: 30px;
  width: 400px;
  margin-top: 10px;
  border-radius: 15px;
  border: 0;
  padding-left: 10px ;
}

.form-group3 label {
  margin-left: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.form-group3 {
  padding-top: 10px;
}

.form-group4 input {
  margin-left: 20px;
  height: 300px;
  width: 800px;
  margin-top: 10px;
  border-radius: 15px;
  border: 0;
  padding-left: 10px;
}

.form-group4 label {
  margin-left: 20px;
  font-weight: bold;
  margin-top: 40px;
}

.form-group4 {
  padding-top: 10px;
}

.form-group5 input {
  margin-left: 75px;
  border-radius: 15px;
  border: 0;
  padding-left: 10px;
}

.form-group5 label {
  margin-left: 25px;
  font-weight: bold;
  margin-top: 40px;
}

.form-group5 {
  padding-top: 10px;
}

.form-group6 button {
  margin-left: 240px;
  height: 30px;
  width: 150px;
  margin-top: 15px;
  border-radius: 15px;
  border: 0;
  padding-left: 10px;
  background-color: green;
  color: rgb(255, 255, 255);
}

button {
  font-size: 20px;
  font-weight: bold;
}


