<div>
  <app-navbar></app-navbar>
</div>
<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group1">
        <label for="title">TICKET TITLE :</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="ticket.title"
          name="title"
        />
      </div>
      <div class="form-group2">
        <label for="categories">CATEGORY :</label>
        <select name="categories" class="form-group7">
          <option value="REFRESH">REFRESH</option>
          <option value="ZONES">ZONES</option>
          <option value="ONCORE">ONCORE</option>
          <option value="DEVELOPMENT">DEVELOPMENT</option>
        </select>
      </div>
      <div class="form-group3">
        <label for="subject">SUBJECT :</label>
        <input
          type="text"
          class="form-control"
          id="subject"
          required
          [(ngModel)]="ticket.subject"
          name="subject"
        />
      </div>
      <div class="form-group4">
        <label for="Description">DESCRIPTION OF THE TICKET :</label>
        <input
          type="text"
          id="description"
          class="form-control"
          [(ngModel)]="ticket.description"
        />
      </div>
      <div class="form-group5">
        <label for="attatchment">ADD ATTATCHMENT</label>
        <input type="file">
      </div>
      <div class="form-group6">
      <button (click)="saveTicket()" class="form-group6">SUBMIT</button>
      </div>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTicket()">Add</button>
    </div>
  </div>
</div>
