<!-- <div>
  <h2 class="Heading2">TICKET DISCRIPTION HERE...</h2>
  <input type="text" name="category" id="cat" placeholder="CATEGORY" /><br />
  <textarea
    name="Deatils"
    id=""
    cols="50"
    rows="2"
    placeholder="Subject of Ticket is here..."
  ></textarea>
  <br />
  <textarea
    name="Deatils"
    id=""
    cols="150"
    rows="20"
    placeholder="Description of Ticket is here..."
  ></textarea>
  <br />
  <input
    type="file"
    class="file-upload"
    onchange="console.log(event.target.files)"
  />
  <br />
  <button class="raise-button">Raise Ticket</button>
</div> -->
<div>
  <app-navbar></app-navbar>
</div>
<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Raise new Ticket</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="ticket.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input
          type="text"
          class="form-control"
          id="subject"
          required
          [(ngModel)]="ticket.subject"
          name="subject"
        />
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input
          type="text"
          id="description"
          class="form-control"
          [(ngModel)]="ticket.description"
        />
      </div>
      <button (click)="saveTicket()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>You submitted successfully!</h4>
      <button class="btn btn-success" (click)="newTicket()">Add</button>
    </div>
  </div>
</div>
