<div id="container">
  <div class="profile">
    <h1 class="heading1">PROFILE</h1>
    <img class="profile-image" src="https://www.pinkvilla.com/imageresize/chris_future_thor.jpg?width=752&t=pvorg" alt="">
    <input type="text" name="company-name" id="view" placeholder="Company Name">
    <input type="text" name="first-name" id="view" placeholder="First Name">
    <input type="text" name="last-name" id="view" placeholder="Last Name">
    <input type="text" name="email" id="view" placeholder="Registered Email id">
    <input type="number" name="contact" id="view" placeholder="Contact Number">
  </div>
    <div class="side-bar">
      <h1 class="heading2" >TICKETS</h1>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
        <textarea name="Ticket-sub" id="ticket" cols="30" rows="3" placeholder="SUBJECT                   STATUS"></textarea>
    </div>
  <div>
    <div class="ticket-data">
    <h1 class="heading3" >DESCRIPTION</h1>
        <textarea style="padding: 20px" name="Details of the Ticket raised" id="desc-ticket" cols="28" rows="41">Here is your Ticket

Hello,
Welcome to Traffic New-Zealand ticketing portal here you can check you old Ticket and you have a option to create the new one, we are really happy to assist you

Regards
Team
Traffic New-Zealand.

        </textarea>
    </div>
  </div>
</div>
